.company-name {
    font-size: 1em !important;
    --company-name: 'Free Insurance Quotes 4u';
}

.company-name:after {
    content: var(--company-name) !important;
} 
text-center {
	align-self: center;
    text-align: center !important;
}